<p id="notice"><%= notice %></p>

<h1>Groups</h1>

    <% @groups.each do |group| %>

      <div class="card mb-3" style="max-width: 340px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center">
            <i class="fas <%= group.icon %> fa-4x card-img align-self-center" ></i>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> <%= group.name %></h5>
              <p class="card-text">Created: <%= group.created_at.strftime('%d %b %Y') %></p>
              <a href="/groups/<%= group.id %>" class="card-link">Access</a>
            </div>
           </div>
        </div>
      </div>
      
      
    <% end %>
 

<br>

<%= link_to 'New Group', new_group_path %>
