
<div class="container-fluid cont-background d-flex  align-items-center fixed-top">

  <div class="row no-gutters d-flex justify-content-between align-items-center w-100 mx-auto mt-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <a href="/profile"><i class="fas fa-bars h3 text-white"></i></a>
      <span class="h3 text-white ml-2 ">New Expense</span>
      <i class="fas fa-search h3 text-white"></i>
    </div>
  
    <div class="row d-flex justify-content-center align-items-center w-100 mx-auto">
      <div class="mt-4 col-12 d-flex flex-column justify-content-center align-items-center">
        <span class="h6 text-white text-center my-0">Add a new expense</span>
        <hr class= "border border-white m-1">
      </div>
    </div>
  </div>
</div>

<div class="sticky-container2">
<div class="group-spacer">
  </div>

<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mx-2">
    <%= f.input :name, required: true, label_html: { class: 'text-dark h4' } %>
    <%= f.input :amount,required: true, label_html: { class: 'text-dark h4' } %>
    <%= f.association :group, required: false, include_blank: "", label_html: { class: 'text-dark h4' } %>
  </div>


  <div class="form-actions mx-2">
    <%= f.button :submit, class: 'btn btn-success btn-block'%>
  </div>
<% end %>

</div>
